<!-- <html>

<head>
    <title>Error page</title>
</head>

<body>
    <span class="span span1">
        4
    </span>
    <div class="face">
        <div class="eye eye1">
            <div class="eyeball"></div>
        </div>
        <div class="eye eye2">
            <div class="eyeball eyeball2"></div>
        </div>

    </div>
    <span class="span span2">
        4
    </span>
    <h1>Oops! Something went wrong <br>
    <span class="h1">There are some technical issues</span></h1>

</body>

</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
</head>
<body>
    <img src="../../../assets/404.svg" alt="">
    <div class="wrapper">
        <h1>Page Not Found</h1>
       <p class="message">
        Something went wrong.
       </p>
       <a routerLink="/landingpage" class="btn">Back to Home</a>
       <p class="copyRights">&copy; 2022 Botjobs</p>
    </div>
</body>
</html>