/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,800;0,900;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: url(../../../assets/error1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}
.span{
    font-size: 300px;
    font-weight: 800;
    line-height: 1px;
    color: rgba(255, 255, 255, 0.507);
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.589);
    font-family: 'Poppins';


}
.face{
    position: relative;
    width: 250px;
    height: 250px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5) ;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}
.face::before{
    content: '';
    position: absolute;
    width: 130px;
    height: 1px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    top: 68%;
    left:22%;
    background: #fff;
}
.eye{
    position: absolute;
    top: 24px;
    left: 13px;
    width: 75px;
    height: 75px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    box-shadow:0px 0px 10px rgba(255, 255, 255, 0.5);
    inset: 0px 0px 20px rgba(0,0,0,0.7);
    animation: round 2s linear infinite;

}
@keyframes round{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-360deg);
    }
}
.eye2{
    left: 56%;
    animation: round2 2s linear infinite;
}

@keyframes round2{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }

}
.eyeball{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    top: 34%;
    left: 1%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    inset: 0px 0px 5px rgba(0,0,0,0.1);
}
.eyeball2{
    left: auto;
}
h1{
    position: absolute;
    top: 75%;
    text-align: center;
    color: #fff;
    font-family: 'Poppins';
    font-weight:600;
    line-height: 30px;
    text-transform: capitalize;
    font-size: 40px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
.h1{
    font-size: 20px;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat";
    color: rgb(56,56,56);
    background-size: 300px 100px;
}
.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.wrapper h1 {
    font-size: 3rem;
    margin-top: 20px;
}
.wrapper .message {
    font-size: 1.5rem;
    padding: 20px;
    width: 60%;
    text-align: center;
}
.wrapper .btn {
    background: rgb(0,195,154);
    padding: 5px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}
.wrapper .btn:hover {background: rgb(0,231,201);}
.wrapper .copyRights {margin-top: 50px;}

