<div class="container pt-5 pb-3 text-center">
    <h1>Register</h1>
</div>

<div class="card m-auto" style="width: 30rem;">

    <div class="card-body">

        <div class="container pt-2">

            <form [formGroup]="registrationForm" class="row g-3" (ngSubmit)="register()">

                <label>
                    Register As
                </label>

                <div class="col-6 mt-2 text-center">
                    <input class="form-check-input mx-3" type="radio" name="role" id="employee" value=0
                        formControlName="role">
                    <label class="form-check-label" for="employee">
                        Employee
                    </label>
                </div>
                <div class="col-4 text-center">
                    <input class="form-check-input mx-3" type="radio" name="role" id="employer" value=1
                        formControlName="role">
                    <label class="form-check-label" for="employer">
                        Employer
                    </label>
                </div>

                <hr>

                <div class="col-12 mt-0">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" formControlName="name" class="form-control"
                        [ngClass]="{'is-invalid':(registrationForm.controls['name'].touched||registrationForm.controls['name'].dirty) && registrationForm.controls['name'].errors}">

                    <div *ngIf="registrationForm.controls['name'].touched||registrationForm.controls['name'].dirty"
                        class="is-invalid">

                        <div class="text-danger" *ngIf="registrationForm.controls['name'].errors?.['required']">
                            Name is required.
                        </div>

                        <div class="text-danger" *ngIf="registrationForm.controls['name'].errors?.['maxlength']">
                            Name Should be less than 50 characters.
                        </div>
                    </div>
                </div>


                <div class="col-12">
                    <label for="userName" class="form-label">User Name</label>
                    <input type="text" formControlName="userName" class="form-control"
                        [ngClass]="{'is-invalid':(registrationForm.controls['userName'].touched||registrationForm.controls['userName'].dirty) && registrationForm.controls['userName'].errors}">

                    <div *ngIf="registrationForm.controls['userName'].touched||registrationForm.controls['userName'].dirty"
                        class="is-invalid">

                        <div class="text-danger" *ngIf="registrationForm.controls['userName'].errors?.['required']">
                            UserName is required.
                        </div>

                        <div class="text-danger" *ngIf="registrationForm.controls['userName'].errors?.['minlength']">
                            User Name Should be minimum 5 characters.
                        </div>

                        <div class="text-danger" *ngIf="registrationForm.controls['userName'].errors?.['maxlength']">
                            User Name Should be less than 50 characters.
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" formControlName="email" class="form-control"
                        [ngClass]="{'is-invalid':(registrationForm.controls['email'].touched||registrationForm.controls['email'].dirty) && registrationForm.controls['email'].errors}">

                    <div *ngIf="(registrationForm.controls['email'].touched)" class="is-invalid">

                        <div class="text-danger" *ngIf="registrationForm.controls['email'].errors?.['required']">
                            Email is required.
                        </div>
                        <div class="text-danger" *ngIf="registrationForm.controls['email'].errors?.['pattern']">
                            Invalid email.
                        </div>
                    </div>
                </div>



                <div class="col-md-12">
                    <label for="password" class="form-label">Password</label>
                    <input type="text" formControlName="password" class="form-control"
                        [ngClass]="{'is-invalid':(registrationForm.controls['password'].touched||registrationForm.controls['password'].dirty) && registrationForm.controls['password'].errors}">

                    <div *ngIf="(registrationForm.controls['password'].touched||registrationForm.controls['password'].dirty)"
                        class="is-invalid">

                        <div class="text-danger" *ngIf="registrationForm.controls['password'].errors?.['required']">
                            Password is required.
                        </div>
                        <div class="text-danger" *ngIf="registrationForm.controls['password'].errors?.['pattern']">
                            Password must be 8 - 20 characters including one uppercase letter, one special character and
                            alphanumeric characters
                        </div>
                    </div>
                </div>



                <div class="col-md-12">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <input type="text" formControlName="confirmPassword" class="form-control"
                        [ngClass]="{'is-invalid':(registrationForm.controls['confirmPassword'].touched||registrationForm.controls['confirmPassword'].dirty) && registrationForm.controls['confirmPassword'].errors}">

                    <div *ngIf="(registrationForm.controls['confirmPassword'].touched||registrationForm.controls['confirmPassword'].dirty)"
                        class="is-invalid">

                        <div class="text-danger"
                            *ngIf="registrationForm.controls['confirmPassword'].errors?.['required']">
                            Re-enter Password.
                        </div>

                        <div class="text-danger"
                            *ngIf="registrationForm.controls['confirmPassword'].value != registrationForm.controls['password'].value">
                            Password Should match
                        </div>

                    </div>
                </div>


                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>