 @import url("https://www.w3schools.com/w3css/4/w3.css");
@import url("https://www.w3schools.com/lib/w3-theme-blue.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/* @import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
@import url("https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css");
@import url("https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css");
@import url("https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css");
@import url("https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap"); */

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" );
/* @import url("//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"); */

body{
    /* margin-top: 0%; */
    
    background-color: rgb(221, 177, 18);
    /* background-image:"assets/build.jpg" ; */
    /* background - image: url("../../assets/images/back2.jpg"); */

}
.w3-theme-l5 {
    color: #000 !important;
    background-color: #fbfcfd !important;
}

element.style {
    font-family: Tahoma;
    font-size: 50px;
    
}

.col-md-3 {
    flex: 0 0 auto;
    width: 100%;
}

.w3-col.m2 {
  width: 16.66666%;
  margin-top: -10%;
}
.w3-col.m3, .w3-quarter {
width: 24.99999%;
margin-top: 1%;
}
.w3-col.m7 {
width: 58.33333%;
margin-top: 0.5%;
}



.ss{
    margin-left: 28%;
    margin-top: 10%;
    
}
*{
    overflow:-moz-hidden-unscrollable;
}

.aaa{
    margin-left: 13%;
}
.grey-bg {  
    background-color: #F5F7FA;
}
.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background-color: #435d7d;
    color: #FFF;
  }

  .card-counter.danger{
    background-color: #ef5350;
    color: #FFF;
  }  

  .card-counter.success{
    background-color: #66bb6a;
    color: #FFF;
  }  

  .card-counter.info{
    background-color: #26c6da;
    color: #FFF;
  }  

  .card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }

  .card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
  }

  .card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
  }

  .w3-row-padding, .w3-row-padding>.w3-half, .w3-row-padding>.w3-third, .w3-row-padding>.w3-twothird, .w3-row-padding>.w3-threequarter, .w3-row-padding>.w3-quarter, .w3-row-padding>.w3-col {
    padding: 5px 5px;
}

