<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<body>
    <div class="main-content">

        <div class="container-fluid">

            <div class="row" style="width: 100%;">
                <div class="col-xl-12 order-xl-1">
                    <div class="card card-profile shadow">
                        <div class="row justify-content-center">
                            <div class="col-lg-3 order-lg-2">
                                <div class="card-profile-image">
                                    <a >
                                        <img style="width: 350px;" height="200px" id="profilePicture"
                                            src="../../../../assets/User-Profile.png" alt="Generic placeholder image"
                                            class="img-fluid img-thumbnail mt-4 mb-2" class="rounded-circle">
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                            <div class="d-flex justify-content-between">

                            </div>
                        </div>
                        <div class="card-body pt-0 pt-md-4">
                            <div class="row" aria-hidden="true">
                                <p></p>
                                <p></p>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                        <div>
                                            <span class="heading"></span>
                                            <button ngbTooltip="Edit Profile Picture" class="btn"
                                                (click)="profilePic.click()">
                                                <em class="bi bi-card-image"></em>
                                            </button>

                                            <input #profilePic type="file" (change)="onChange($event)" accept="" hidden>
                                            <span class="description"></span>
                                        </div>
                                        <div>
                                            <span class="heading"></span>
                                            <span class="description"></span>
                                        </div>
                                        <div>
                                            <span class="heading"></span>
                                            <button ngbTooltip="Delete Profile Picture" class="btn"
                                                (click)="deletePicture(userDetails?.userId)">
                                                <em class="bi bi-trash-fill"></em>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="text-center">
                                <h3>{{userDetails?.name}}
                                </h3>
                                
                                <div class="h5 mt-4">
                                    <i class="ni business_briefcase-24 mr-2"></i>{{userDetails.email}}
                                </div>
                                <div>
                                    <i class="ni education_hat mr-2"></i>{{ role.get(userDetails.role) }}
                                </div>
                                <hr class="my-4">

                                <p>Hi {{userDetails.name}} you can easily updates your details from here</p>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 order-xl-1">
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Edit your details</h3>
                                </div>
                                <!-- <div class="col-4 text-right">
                                    <a href="" class="btn btn-danger" target="__blank" data-bs-toggle="modal"
                                        data-bs-target="#examplModal">Change Password</a>

                                </div> -->
                            </div>
                        </div>
                        <div class="card-body">

                            <h6 class="heading-small text-muted mb-4">User information</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group ">

                                            <label class="form-control-label" for="input-first-name">Name</label>
                                            <input type="text" id="input-firstName" readonly
                                                class="form-control form-control-alternative" placeholder="Firstname"
                                                value="{{userDetails.name}}">

                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">


                                            <label class="form-control-label" for="input-last-name">Mob</label>
                                            <input type="text" id="input-lastName"
                                                class="form-control form-control-alternative" readonly placeholder="dob"
                                                value="{{userDetails.phone}}">

                                        </div>
                                    </div>

                                    <div class="col-lg-6">

                                        <div class="form-group ">
                                            <label class="form-control-label" for="input-email">E-mail</label>
                                            <input type="text" id="input-emails"
                                                class="form-control form-control-alternative" readonly
                                                placeholder="email" value="{{userDetails.email}}">

                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">

                                            <label class="form-control-label" for="input-email">date of birth</label>
                                            <input type="date" disable id="input-email"
                                                class="form-control form-control-alternative" readonly placeholder="dob"
                                                value="{{userDetails.dob}}">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="my-4">
                            <div class="row">
                                <!-- Address -->
                                <h6 class="heading-small text-muted mb-4">Contact information</h6>

                                <div class="pl-lg-4">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group ">
                                                <label class="form-control-label" for="input-address">Address</label>
                                                <input id="input-address" class="form-control form-control-alternative"
                                                    placeholder="Home Address" readonly value="{{userDetails.address}}"
                                                    type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group ">
                                            <label class="form-control-label" for="input-city">City</label>
                                            <input type="text" id="input-city"
                                                class="form-control form-control-alternative" readonly
                                                placeholder="City" value="{{userDetails.city        }}">
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-country">Postal code</label>
                                            <input type="number" id="input-postal-code"
                                                class="form-control form-control-alternative" readonly
                                                placeholder="zipcode"  value="{{userDetails.zipCode}}">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4 text-right">
                                <br>
                                <br>
                                <button type="submit" class="btn btn-primary " (click)="open(formModule)"
                                    style="margin-right: -198px;">Update</button>
                            </div>
                            <hr class="my-4">
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- <footer class="footer">

        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6 m-auto text-center">
                <div class="copyright">

                </div>
            </div>
        </div>
    </footer> -->
</body>


<ng-template #formModule let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit User Details</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-user-edit (completedEvent)="getProfile()" #userEdit [patchValues]="userDetails"></app-user-edit>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark"
            (click)="userEdit.editUser();modal.close('Save click')">Save</button>
    </div>
</ng-template>