<app-header></app-header>

<body>
    <div class="container-xl">
        <div class="table-responsive" style="height: 500px;">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Manage <b>Jobs</b></h2>
                        </div>
                        <div class="col-sm-6">

                            <button *ngIf="userRole==1" class="btn btn-secondary btn-sm" type="button"
                                (click)="csvDownload()">
                                Download Csv
                            </button>

                            <button *ngIf="userRole==1 && checked.length!=0" class="btn btn-danger" type="button"
                                (click)="deleteJobs()">
                                Delete All
                            </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="userRole!=0">
                    <label><b>Filter</b></label>
                    <div class="col-6">

                        <select class="form-select w-auto d-inline" [(ngModel)]="view" (change)="setView()">
                            <option selected="selected" [ngValue]="3">ALL</option>
                            <option [ngValue]="1">ACTIVE</option>
                            <option [ngValue]="2">PENDING</option>
                        </select>

                    </div>

                </div>


                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="selectAll" (change)="checkAll($event)" />
                                    <label for="selectAll"></label>
                                </span>
                            </th>
                            <th *ngIf="userRole==1" (click)="setSort('job_id')">Id <svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-sort-up" viewBox="0 0 16 16">
                                    <path
                                        d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z" />
                                </svg></th>
                            <th (click)="setSort('job_title')">Job Title <svg xmlns="http://www.w3.org/2000/svg"
                                    width="16" height="16" fill="currentColor" class="bi bi-sort-up"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z" />
                                </svg></th>
                            <th (click)="setSort('job_description')">JOb Description <svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-sort-up" viewBox="0 0 16 16">
                                    <path
                                        d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z" />
                                </svg></th>
                            <th>Added By</th>
                            <th (click)="setSort('qualification')">Qualification <svg xmlns="http://www.w3.org/2000/svg"
                                    width="16" height="16" fill="currentColor" class="bi bi-sort-up"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z" />
                                </svg></th>
                            <th (click)="setSort('openings')">Openings <svg xmlns="http://www.w3.org/2000/svg"
                                    width="16" height="16" fill="currentColor" class="bi bi-sort-up"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z" />
                                </svg></th>
                            <th (click)="setSort('status')">Status <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16">
                                    <path
                                        d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707V12.5zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z" />
                                </svg></th>

                            <th>Actions </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="details">
                        <tr *ngFor="let val of details.result">
                            <td>
                                <span class="custom-checkbox">
                                    <input type="checkbox" id="checkbox{{ val.jobId }}" value="{{ val.jobId }}"
                                        (change)="checkedJob($event)" />
                                    <label for="checkbox{{ val.jobId }}"></label>
                                </span>
                            </td>
                            <td *ngIf="userRole==1">{{ val.jobId }}</td>
                            <td>{{ val.jobTitle }}</td>
                            <td>{{ val.jobDescription }}</td>
                            <td>{{ val.userName }}</td>
                            <td>{{ qualifications[val.qualification] }}</td>
                            <td>{{ val.openings }}</td>
                            <td>{{ status[val.status] }}</td>

                            <td>
                                <div class="row">
                                    <div class="btns">

                                        <div class="myDIV-1" *ngIf="view!=2">
                                            <button class="btn">

                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="p-3 mb-2 bg-info text-white" class="bi bi-pen"
                                                    viewBox="0 0 16 16" (click)="open(editJob);jobId=val.jobId">
                                                    <path
                                                        d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                                                </svg>
                                            </button>
                                        </div>
                                        <!-- <div class="hide">Edit</div> -->


                                        <div class="myDIV-2" *ngIf="view==2 && userRole==1">
                                            <button class="btn">

                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="green" class="bi bi-patch-check-fill" viewBox="0 0 16 16"
                                                    (click)="flag=3;jobDelete(val.jobId)">
                                                    <path
                                                        d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z" />
                                                </svg>
                                            </button>
                                        </div>
                                        <!-- <div class="hide">Approve</div> -->



                                        <div class="myDIV">
                                            <button class="btn">

                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="red" class="bi bi-trash" viewBox="0 0 16 16"
                                                    (click)="flag=0;jobDelete(val.jobId);">
                                                    <path
                                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                    <path fill-rule="evenodd"
                                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                                </svg>
                                            </button>
                                        </div>
                                        <!-- <div class="hide">Delete</div> -->
                                    </div>
                                    <!-- <button *ngIf="view==2 && userRole==1" class="btn btn-success btn-rounded"
                                        (click)="flag=3;jobDelete(val.jobId)">Approve <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                                            <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
                                          </svg></button> -->


                                    <!-- <button type="button" class="btn btn-warning btn-sm"
                                    routerLink="/editJob/{{val.jobId}}">
                                    edit
                                </button> -->


                                    <!-- <button type="button" class="btn btn-danger btn-sm" (click)="jobDelete(val.jobId)">
                                    delete
                                </button> -->
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>



            </div>
        </div>
        <div class="hint-text" *ngIf="details">
            Showing &nbsp;
            <strong>{{ details.itemStart }} </strong> to <strong> {{ details.itemEnd }} </strong> out of
            <strong>{{ details.numItems }}</strong> &nbsp; entries
        </div>

        <div class="clearfix">
            <!-- <div class="hint-text">Showing <b>1</b> out of <b>1</b> entries</div> -->
            <ul class="pagination" *ngIf="details">
                <!-- <li class="page-item disabled"></li> -->
                <button class="page-link" [class.disabled]="!details.hasPrevious" (click)="navPrevious()">
                    Previous
                </button>
                <!-- <button class="page-item"  (click)="navPrevious()">Previous</button> -->
                <li class="page-item" *ngFor="let s of numSeq(details.numPages); let i = index"
                    [ngClass]="{ active: details.currentPage == i + 1 }">
                    <button (click)="gotoPage(i + 1)" class="page-link">
                        {{ i + 1 }}
                    </button>
                </li>
                <!-- <li class="page-item"><a href="#" class="page-link">Next</a></li> -->
                <!-- <button class="page-item" [disabled]="!details.hasNext" (click)="navNext()">Next</button> -->
                <button class="page-link" [class.disabled]="!details.hasNext" (click)="navNext()">
                    Next
                </button>
            </ul>
        </div>
    </div>
    <!-- Edit Modal HTML -->
</body>
<div class="col-6">
    Show
    <select class="form-select w-auto d-inline" [(ngModel)]="limit" (change)="setLimit()">
        <option selected="selected" [ngValue]="3">3</option>
        <option [ngValue]="4">4</option>
        <option [ngValue]="5">5</option>
    </select>
    entries
</div>


<ng-template #editJob let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit Job</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

        <app-edit-job (completed)="pagination()" #addEditComponent [jobId]="jobId"></app-edit-job>

    </div>
    <div class="modal-footer">
        <button class="btn btn-outline-success" (click)="modal.dismiss();addEditComponent.submit()"> <label
                *ngIf="jobId">Edit</label></button>
    </div>
</ng-template>

<app-footer></app-footer>