<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" /> -->
<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->


<div class="wrapper fadeInDown zero-raduis">
    <div id="formContent">

        <div class="fadeIn first">
            <h2 class="my-5">Sign In</h2>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="signIn()" autocomplete="off">
            <input type="text" formControlName="userName" class="fadeIn second zero-raduis" name="uname"
                placeholder="username" />
            <input type="password" formControlName="password" class="fadeIn third zero-raduis" name="login"
                placeholder="password" />

            <input type="submit" class="fadeIn fourth zero-raduis" value="login" />

            <h2> don't have an account ?</h2>
            <input type="button" class="fadeIn fourth zero-raduis pc" routerLink="/register" value="register" />
        </form>
    </div>
</div> 

