<div class="banner">
    <div class="wrapper fadeInDown zero-raduis">
        <div id="formContent">

            <div class="fadeIn first">
                <h2 class="my-5">Sign In</h2>
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
                <input type="text" formControlName="username" class="fadeIn second zero-raduis" name="uname"
                    placeholder="username" />

                <input type="password" formControlName="password" class="fadeIn third zero-raduis" name="login"
                    placeholder="password" />

                <input type="submit" class="fadeIn fourth zero-raduis" value="login" /><br>

                <!-- Remember me -->
                <!-- <input type='checkbox' (click)="rememberMe()" > -->

                <div class=" col s12 m6 offset-m3 center-align fadeIn fourth zero-raduis mb-3">
                    <a class="oauth-container btn darken-4 white black-text" routerLink="/glogin"
                        style="text-transform:none">
                        <div class="left d-inline ">
                            <img class="mx-2" width="20px" style="margin-top:-1px; margin-right:8px"
                                alt="Google sign-in"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                        </div>
                        Login with Google
                    </a>
                </div>


                <div></div>




                <div class="mb-2">

                    <a class="form-label" routerLink="/reset-password">
                        <h6>Forgot Password ?</h6>
                    </a>
                </div>

                <h2> don't have an account ?</h2>
                <input type="button" class="fadeIn fourth zero-raduis pc" routerLink="/register" value="register" />

            </form>
        </div>
    </div>
</div>