<section class="navigation">
    <div class="nav-container">
        <div class="brand">
            <!-- <a>Logo</a> -->
        </div>


        <nav>
            <div class="nav-mobile"><a id="navbar-toggle"><span></span></a></div>
            <ul class="nav-list">
                <li>
                    <a routerLink="/userDashboard">Home</a>
                </li>
                <!-- <li>
                    <a href="#!">About</a>
                </li> -->
                <li *ngIf="flag==1">
                    <div class="col">
                        <div ngbDropdown class="d-inline-block mt-2 ">
                            <button type="button" class="btn text-white" id="dropdownBasic1" ngbDropdownToggle>Manage
                                Users</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button class="btn" ngbDropdownItem routerLink="/adminDashboard">View Users <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                    <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
                                    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                                  </svg></button>
                                <button ngbDropdownItem (click)="open(addUser)">Add User
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                        <path fill-rule="evenodd"
                                            d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                                    </svg></button>
                                <!-- <button ngbDropdownItem>Something else is here</button> -->
                            </div>
                        </div>
                    </div>
                </li>
                <li>


                    <div class="col" *ngIf="flag!=2">
                        <div ngbDropdown class="d-inline-block mt-2 ">
                            <button type="button" class="btn  text-white" id="dropdownBasic1" ngbDropdownToggle>Manage
                                Jobs</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button class="btn" ngbDropdownItem routerLink="/jobView">View Jobs</button>
                                <button ngbDropdownItem (click)="open(addJob)">Add New Job</button>
                                <button ngbDropdownItem routerLink="/jobRequestView">View Job Requests</button>
                            </div>
                        </div>
                    </div>
                </li>


                <li>


                    <div class="col" *ngIf="flag==2">
                        <div ngbDropdown class="d-inline-block mt-2 ">
                            <button type="button" class="btn  text-white" id="dropdownBasic1" ngbDropdownToggle>Manage
                                Jobs</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button class="btn" ngbDropdownItem routerLink="/userJobView">View Jobs</button>
                                <!-- <button ngbDropdownItem (click)="open(addJob)">Add New Job</button> -->
                                <button ngbDropdownItem routerLink="/jobRequestView">View Job Requests</button>
                            </div>
                        </div>
                    </div>
                </li>


                <!-- <li>
                    <a>Category</a>
                    <ul class="navbar-dropdown">
                        <li>
                            <a href="#!">Sass</a>
                        </li>
                        <li>
                            <a href="#!">Less</a>
                        </li>
                        <li>
                            <a href="#!">Stylus</a>
                        </li>
                    </ul>


                </li> -->
                <li>
                    <a (click)="logOut()">Log Out</a>
                </li>
            </ul>
        </nav>
    </div>
</section>



<!-- <div class="col">
    <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic1"
            ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>Action - 1</button>
            <button ngbDropdownItem>Another Action</button>
            <button ngbDropdownItem>Something else is here</button>
        </div>
    </div>
</div> -->
<ng-template #addJob let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Job</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

        <app-edit-job #addEditComponent></app-edit-job>
        <!-- <app-add-edit-user #addUser></app-add-edit-user> -->

    </div>
    <div class="modal-footer">
        <button class="btn btn-outline-success" (click)="modal.dismiss();addEditComponent.submit()">
            <label>add</label></button>
    </div>
</ng-template>



<ng-template #addUser let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add User</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

        <app-add-edit-user (completed)="modal.dismiss()" #addUser></app-add-edit-user>

    </div>
    <div class="modal-footer">
        <button class="btn btn-outline-success" (click)="addUser.addUser()">
            <label>add</label></button>
    </div>
</ng-template>