<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" routerLink="/user-profile">{{getName()}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" *ngIf="getName()">
                <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/user-profile">Home</a>
                </li> -->
                <li class="nav-item" *ngIf="getRole()==2">
                    <a class="nav-link active" aria-current="page" routerLink="/user-list">Users</a>
                </li>

                <li class="nav-item " *ngIf="getRole() == 1 || getRole()==2">
                    <a class="nav-link active" aria-current="page" routerLink="/job-list">Job Manageent</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/job-request-list">Job Requests</a>
                </li>

                <li class="nav-item ">
                    <a class="nav-link active" aria-current="page" routerLink="/job-apply">Job Apply</a>
                </li>

            </ul>
        </div>
    </div>

    <div class="col">
        <div ngbDropdown class="d-inline-block mx-2" display="dynamic">
            <button type="button" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>
                <span class="bi bi-gear" style="color: beige;"></span></button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="background:darkslategrey;">
                <button class="btn btn-dark text-white" ngbDropdownItem>Profile</button>
                <button (click)="logout()" class="btn btn-dark text-white" ngbDropdownItem>Logout</button>
            </div>
        </div>
    </div>

</nav>