<div *ngIf="role==1">
    <app-employer-chart></app-employer-chart>

</div>
<div class="container mt-4">
    <div class="col">
        <div class="row">
            <div class="col-xl-3 col-lg-6" *ngFor=" let sta of statusCount|keyvalue">
                <div class="card">
                    <div class="card-statistic-3 p-2">
                        <div class="m-4">
                            <h5 class="card-title mb-0">{{sta.key}}</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-8 px-4 pb-2">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{sta.value}}
                                </h2>
                            </div>
                            <div class="col-4 text-right">
                                <span>{{(sta.value*100/(statusCount["PENDING"]+statusCount["APPROVED"]+statusCount["COMPLETED"]+statusCount["DELETED"])).toFixed(2)}}
                                    % </span>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"
                                [style.width.%]='sta.value*100/(statusCount["PENDING"]+statusCount["APPROVED"]+statusCount["COMPLETED"]+statusCount["DELETED"])'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>




<div class="container-xl">
    <div class="table-responsive">

        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Manage <strong>Jobs</strong></h2>
                    </div>
                    <div class="col-sm-6" *ngIf="role==2 || role==1">

                        <button placement="bottom" ngbTooltip="Complete selected jobs from table"
                            (click)="changeJobsStatus(2)" class="btn btn-secondary" [disabled]="!checkedJobIds.size">
                            <em class="bi-c-circle"></em>
                            &nbsp;Completed
                        </button>


                        <button placement="bottom" ngbTooltip="Delete selected jobs from table"
                            (click)="changeJobsStatus(3)" class="btn btn-danger" [disabled]="!checkedJobIds.size">
                            <em class="bi-trash-fill"></em>
                            &nbsp;Delete Jobs
                        </button>

                        <button *ngIf="role==2" placement="bottom" ngbTooltip="Approve selected jobs from table"
                            (click)="changeJobsStatus(1)" class="btn btn-success" [disabled]="!checkedJobIds.size">
                            <em class="bi-check-square"></em>
                            &nbsp;Approve Jobs
                        </button>

                        <button placement="bottom" ngbTooltip="Download job list as Csv"
                            (click)="open(csvDowloadModal);" class="btn btn-secondary">
                            <em class="bi bi-download"></em>
                            &nbsp;Download
                        </button>


                        <button (click)="open(formModule)" class="btn btn-success">
                            <em class="bi bi-plus-circle-fill"></em>
                            &nbsp; Add Job
                        </button>
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-2">
                    Show
                    <select class="form-select w-auto d-inline" [(ngModel)]="limit" (change)="resetList()">
                        <option selected="selected" [ngValue]="0">All</option>
                        <option [ngValue]="4">4</option>
                        <option [ngValue]="5">5</option>
                    </select>
                    entries
                </div>


                <div class="col-3" *ngIf="role==2">
                    <label for="filter">

                        <em class="bi bi-funnel-fill"></em>
                        Status : &nbsp;
                    </label>
                    <select id="filter" class="form-select w-auto d-inline" [(ngModel)]="selectedStatus"
                        (change)="resetList()">
                        <option selected="selected" [ngValue]="4">All</option>
                        <option *ngFor="let filter of status | keyvalue" [ngValue]="filter.key">{{filter.value}}
                        </option>

                    </select>

                </div>

                <div class="col-6 text-end">
                    <input placeholder="search" class="form-control w-auto d-inline align-self-end" type="text"
                        id="search" [(ngModel)]="search" (keyup)="setSearch()" />
                </div>

            </div>

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            <span class="custom-checkbox">
                                <input type="checkbox" id="selectAll" (change)="checkAll($event)"
                                    [checked]="checkAllButton()" />

                                <label for="selectAll"></label>
                            </span>
                        </th>


                        <th  class="px-4" scope="col" (click)="setSort('title')">Title

                            <button [disabled]="sortBy!='title'" class="btn btn-sort bi "
                                [ngClass]="sortDesc ? 'bi-sort-alpha-up':'bi-sort-alpha-down'"></button>
                        </th>
                        <th scope="col" (click)="setSort('description')">Description
                            <button [disabled]="sortBy!='description'" class="btn btn-sort bi "
                                [ngClass]="sortDesc ? 'bi-sort-alpha-up':'bi-sort-alpha-down'"></button>

                        </th>
                        <th scope="col" (click)="setSort('qualification')">Qualification
                            <button [disabled]="sortBy!='qualification'" class="btn btn-sort bi "
                                [ngClass]="sortDesc ? 'bi-sort-numeric-up':'bi-sort-numeric-down'"></button>
                        </th>
                        <th scope="col" (click)="setSort('openings')">Openings
                            <button [disabled]="sortBy!='openings'" class="btn btn-sort bi "
                                [ngClass]="sortDesc ? 'bi-sort-numeric-up':'bi-sort-numeric-down'"></button>

                        </th>
                        <th scope="col">Posted By</th>
                        <th scope="col" (click)="setSort('updateDate')">Last Modified
                            <button [disabled]="sortBy!='updateDate'" class="btn btn-sort bi "
                                [ngClass]="sortDesc ? 'bi-sort-numeric-up':'bi-sort-numeric-down'"></button>

                        </th>
                        <th scope="col" (click)="setSort('status')">Status
                            <button [disabled]="sortBy!='status'" class="btn btn-sort bi "
                                [ngClass]="sortDesc ? 'bi-sort-numeric-up':'bi-sort-numeric-down'"></button>
                        </th>

                        <th scope="col" style="min-width: 150px;">Actions</th>
                    </tr>
                </thead>

                <tbody class="align-bottom" *ngIf="pagerInfo">
                    <tr *ngIf="jobDataList.length == 0">
                        <th class="text-center" id="NoRecordsFound" colspan="10">
                            No Records Found
                        </th>
                    </tr>
                    <tr *ngFor="let job of jobDataList">
                        <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox{{ job.jobId }}" value="{{ job.jobId }}"
                                    (change)="checkedUser($event)" [checked]="checkedJobIds.has(job.jobId)" />
                                <label for="checkbox{{ job.jobId }}"></label>
                            </span>
                        </td>

                        <td>

                            <button class="btn btn btn-sort m-auto pt-1" (click)="openXl(jobRequestsModal,job.jobId)"
                                [disabled]="!jobRequestCounts[job.title]">
                                <em class="bi bi-eye-fill mat-small">

                                    <label class="ms-1">

                                        {{jobRequestCounts[job.title]?jobRequestCounts[job.title]:0}}
                                    </label>
                                </em>
                            </button>

                            {{ job.title }}
                            <label>
                            </label>
                        </td>

                        <td style="overflow-wrap: break-word; max-width: 200px;">{{ job.description }}</td>
                        <td>{{ qualifications.get(job.qualification) }}</td>
                        <td>{{ job.openings }}</td>
                        <td>
                            <div ngbTooltip="User Id : {{job.userId}}">

                                {{ job.userName }}
                            </div>
                        </td>
                        <td>{{ job.updateDate|date}}</td>
                        <td >
                            <p *ngIf="job.status == 0"><span class="badge bg-warning clr">{{ status.get(job.status)
                                    }}</span></p>
                            <p *ngIf="job.status == 1"><span class="badge bg-success">{{ status.get(job.status)
                                    }}</span></p>
                            <p *ngIf="job.status == 2"><span class="badge bg-primary">{{ status.get(job.status)
                                    }}</span></p>
                            <p *ngIf="job.status == 3"><span class="badge bg-danger">{{ status.get(job.status) }}</span>
                            </p>
                        </td>

                        <td *ngIf="role==2 ||role==1  ">


                            <button placement="top" ngbTooltip="Edit job" class="btn btn-sort"
                                (click)="open(formModule,job.jobId)"><a class="bi bi-pencil-fill edit"></a></button>
                            &nbsp;
                            <button [disabled]="job.status==3" placement="top" ngbTooltip="Delete job"
                                class="btn btn-sort" (click)="changeJobStatus(job.jobId,3)">
                                <a class="bi bi-trash-fill delete"></a>
                            </button>

                            &nbsp;
                            <button *ngIf="role==2" [disabled]="job.status==1" placement="top" ngbTooltip="Approve job"
                                class="btn btn-sort" (click)="changeJobStatus(job.jobId,1)">
                                <em class="bi bi-check2-square"></em>
                            </button>

                            &nbsp;
                            <button [disabled]="job.status==2" placement="top" ngbTooltip="Mark as Compled"
                                class="btn btn-sort" (click)="changeJobStatus(job.jobId,2)">
                                <em class="bi bi-bag-check-fill"></em>
                            </button>


                        </td>
                    </tr>
                    <tr *ngIf="!pagerInfo.hasNext && jobDataList.length != 0">
                        <th class="text-center" id="NoRecordsFound" colspan="10">
                            End of Records
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="clearfix" *ngIf="pagerInfo && limit">
        <div class="hint-text text-white">
            Showing &nbsp;
            <strong>{{ pagerInfo.itemStart }} </strong> to <strong> {{ pagerInfo.itemEnd }} </strong> out of
            <strong>{{ pagerInfo.numItems }}</strong> &nbsp; entries
        </div>

        <div>
            <ul class="pagination mb-5">

                <li class="page-item" [class.disabled]="!pagerInfo.hasPrev">
                    <button class="page-link" (click)="gotoPage(1)">
                        First
                    </button>
                </li>
                <li class="page-item" [class.disabled]="!pagerInfo.hasPrev">
                    <button class="page-link" (click)="prevPage()"><em class="bi bi-caret-left-fill"></em></button>
                </li>

                <li class="page-item" *ngIf="pagerInfo.currentPage  > 3 && pagerInfo.numPages>5">
                    <button class="page-link" disabled>
                        ..
                    </button>
                </li>

                <li class="page-item" *ngFor="let s of numSeq(pagerInfo.numPages);"
                    [ngClass]="{ active: pagerInfo.currentPage == s }">
                    <button (click)="gotoPage(s)" class="page-link">
                        {{ s }}
                    </button>
                </li>

                <li class="page-item" *ngIf="pagerInfo.currentPage < pagerInfo.numPages - 2 && pagerInfo.numPages>5">
                    <button class="page-link" disabled>
                        ..
                    </button>
                </li>



                <li class="page-item" [class.disabled]="!pagerInfo.hasNext">
                    <button class="page-link" (click)="nextPage()"><em class="bi bi-caret-right-fill"></em></button>
                </li>

                <li class="page-item" [class.disabled]="!pagerInfo.hasNext">
                    <button class="page-link" (click)="gotoPage(pagerInfo.numPages)">
                        Last
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>




<ng-template #formModule let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"><label *ngIf="jobId">Edit</label><label
                *ngIf="!jobId">Add</label> Jobs</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-job-form #form [jobId]="jobId" (completedEvent)="saveCompleted($event);modal.close('Save click')">
        </app-job-form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="form.formAction();"><label
                *ngIf="jobId">Edit</label><label *ngIf="!jobId">Add</label></button>
    </div>
</ng-template>




<ng-template #csvDowloadModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Select Options</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">

        <div class="row">


            <div class="col-6">
                <label class="form-label">
                    <strong>Status</strong>
                </label>

                <div class="col-6" *ngFor="let stat of status|keyvalue">
                    <input type="checkbox" (change)="changeCsvStat($event,stat.key,csvData.status)"
                        [checked]="csvData.status.has(stat.key)"
                        [disabled]="csvData.status.size==1 && csvData.status.has(stat.key)">
                    {{stat.value}}
                </div>
            </div>
            <hr class="mt-2">

            <div class="col-6">
                <label for="startDate" class="form-label d-inline me-2">Start</label>
                <input [max]="today" onkeydown="return false" [formControl]="csvData.startDate" id="startDate"
                    type="date" class="form-control w-75 d-inline">

                <div class="text-danger" *ngIf="csvData.startDate.errors?.['required'] && csvData.startDate.touched ">
                    Select Start date
                </div>

            </div>

            <div class="col-6">

                <label for="startDate" class="form-label  d-inline me-2">End</label>
                <input [max]="today" onkeydown="return false" [formControl]="csvData.endDate" type="date"
                    class="form-control w-75  d-inline">

                <div class="text-danger" *ngIf="csvData.endDate.errors?.['required'] ">
                    Select End date
                </div>
            </div>


        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-outline-primary" (click)="downloadCsv()"> Download
        </button>

    </div>
</ng-template>




<ng-template #jobRequestsModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"> Job Requests </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-job-request-list [jobId]="jobId" [scrollingDisabled]="true" [limit]="5"></app-job-request-list>

    </div>
    <div class="modal-footer">
    </div>
</ng-template>

<!-- Spinner -->
<div *ngIf="showSpinner" class="loading">Loading&#8230;</div>



<div class="search-results" infinite-scroll [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollUpDistance]="scrollUpDistance" [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()">

</div>