<div class="card m-auto">

    <div class="card-body">

        <div class="container pt-2">

            <form [formGroup]="userEditForm" class="row g-3">



                <div class="col-12 mt-0">
                    <label for="dob" class="form-label">Name</label>
                    <input type="text" formControlName="name" class="form-control"
                        [ngClass]="{'is-invalid':(userEditForm.controls['name'].touched||userEditForm.controls['name'].dirty) && userEditForm.controls['name'].errors}">

                    <div *ngIf="userEditForm.controls['name'].touched||userEditForm.controls['name'].dirty"
                        class="is-invalid">

                        <div class="text-danger" *ngIf="userEditForm.controls['name'].errors?.['required']">
                            Name is required.
                        </div>

                        <div class="text-danger" *ngIf="userEditForm.controls['name'].errors?.['maxlength']">
                            Name Should be less than 50 characters.
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-0">
                    <label for="dob" class="form-label">Date of Birth</label>
                    <input type="date"  formControlName="dob" class="form-control"
                        [ngClass]="{'is-invalid':(userEditForm.controls['dob'].touched||userEditForm.controls['dob'].dirty) && userEditForm.controls['dob'].errors}">

                    <div *ngIf="userEditForm.controls['dob'].touched||userEditForm.controls['dob'].dirty"
                        class="is-invalid">

                        <div class="text-danger" *ngIf="userEditForm.controls['dob'].errors?.['required']">
                            Dob is required.
                        </div>
                    </div>
                </div>


                <div class="col-12 mt-0">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" formControlName="phone" class="form-control"
                        [ngClass]="{'is-invalid':(userEditForm.controls['phone'].touched||userEditForm.controls['phone'].dirty) && userEditForm.controls['phone'].errors}">

                    <div *ngIf="userEditForm.controls['phone'].touched||userEditForm.controls['phone'].dirty"
                        class="is-invalid">

                        <div class="text-danger" *ngIf="userEditForm.controls['phone'].errors?.['maxlength']">
                            Phone Number Should be less than 13 characters.
                        </div>
                    </div>
                </div>


                <div class="col-12 mt-0">
                    <label for="address" class="form-label">Address</label>
                    <textarea type="text" formControlName="address" class="form-control"
                        [ngClass]="{'is-invalid':(userEditForm.controls['address'].touched||userEditForm.controls['address'].dirty) && userEditForm.controls['address'].errors}"></textarea>

                    <div *ngIf="userEditForm.controls['address'].touched||userEditForm.controls['address'].dirty"
                        class="is-invalid">

                        <div class="text-danger" *ngIf="userEditForm.controls['address'].errors?.['maxlength']">
                            Address Should be less than 255 characters.
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-0">
                    <label for="city" class="form-label">City</label>
                    <input type="text" formControlName="city" class="form-control"
                        [ngClass]="{'is-invalid':(userEditForm.controls['city'].touched||userEditForm.controls['city'].dirty) && userEditForm.controls['city'].errors}">

                    <div *ngIf="userEditForm.controls['city'].touched||userEditForm.controls['city'].dirty"
                        class="is-invalid">

                        <div class="text-danger" *ngIf="userEditForm.controls['city'].errors?.['maxlength']">
                            City Should be less than 255 characters.
                        </div>
                    </div>
                </div>

                <div class="col-12 mt-0">
                    <label for="zipCode" class="form-label">Phone</label>
                    <input type="text" formControlName="zipCode" class="form-control"
                        [ngClass]="{'is-invalid':(userEditForm.controls['zipCode'].touched||userEditForm.controls['zipCode'].dirty) && userEditForm.controls['zipCode'].errors}">

                    <div *ngIf="userEditForm.controls['zipCode'].touched||userEditForm.controls['zipCode'].dirty"
                        class="is-invalid">

                        <div class="text-danger" *ngIf="userEditForm.controls['zipCode'].errors?.['maxlength']">
                            Zip Code Should be less than 8 characters.
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <label for="qualification" class="form-label">Qualification</label>

                    <select type="text" id="qualification" formControlName="qualification" class="form-control"
                        [ngClass]="{'is-invalid':(userEditForm.controls['qualification'].touched||userEditForm.controls['qualification'].dirty) && userEditForm.controls['qualification'].errors}">

                        <option value="" disabled selected>Select your Qualification</option>

                        <option *ngFor="let qualification of qualifications | keyvalue" value="{{qualification.key}}">
                            {{qualification.value}}</option>
                    </select>


                    <div *ngIf="(userEditForm.controls['qualification'].touched||userEditForm.controls['qualification'].dirty)"
                        class="is-invalid">

                        <div class="text-danger" *ngIf="userEditForm.controls['qualification'].errors?.['required']">
                            Qualification is required.
                        </div>

                    </div>
                    <label for="qualification" class="text-danger pt-1"></label>
                </div>


            </form>
        </div>
    </div>
</div>