@import url("https://www.w3schools.com/w3css/4/w3.css");
@import url("https://www.w3schools.com/lib/w3-theme-blue.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html, body {
height: 8%;

}

.w3-theme-d2 {
    color: #fff !important;
    background-color: #435d7d !important;
}