
<div class="col-3">
  Show
  <select class="form-select w-auto d-inline" [(ngModel)]="days" (change)="changeDays()">
      <option selected="selected" [ngValue]="7">Last 7 Days</option>
      <option [ngValue]="10">Last 10 Days</option>
      <option [ngValue]="30">Last 30 Days</option>
      <option [ngValue]="365">Last 365 Days</option>
  </select>
  entries
</div>
<div class="divChart">
    <canvas id="myChart" width="500" height="150"></canvas>
  
  </div>


  <div style="width:50% ;">
    <canvas id="myPieChart" width="500" height="150"></canvas>
  
  </div>


  